Notebooks/Data/GULLS/planets/
Notebooks/planets/
Notebooks/.vscode/
Old/GULLS/planets/
__pycache__/
*.pyc
*.DS_Store
.ipynb_checkpoints/
Progress/

# Build files
build/
docs/_build/
docs/Notebooks/
docs/Solved/

# Python cache
__pycache__/
*.pyc

# venv
.venv/